[Desktop Entry]
Encoding=UTF-8
Name=eltoken
Comment=Eltoken P2P Cryptocurrency
Comment[fr]=Eltoken, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Eltoken, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/eltoken
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/eltoken80.xpm
MimeType=x-scheme-handler/eltoken;
Categories=Office;
