#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_eltoken
#build/eltokend::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_eltoken)

DEB_INSTALL_EXAMPLES_eltokend += debian/examples/*
DEB_INSTALL_MANPAGES_eltokend += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix eltokend
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f eltoken; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake eltoken.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_eltoken
	src/test_eltoken

# Ensure wrapper is set executable
binary-post-install/eltokend:
	chmod +x $(cdbs_curdestdir)usr/bin/eltokend
binary-post-install/eltoken:
	chmod +x $(cdbs_curdestdir)usr/bin/eltoken